<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="TUE">
            <config key="low_0">
                <entry key="bin_name" type="xstring" value="low"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="-Infinity"/>
                <entry key="right_open" type="xboolean" value="false"/>
                <entry key="right_value" type="xdouble" value="0.6"/>
            </config>
            <config key="medium_1">
                <entry key="bin_name" type="xstring" value="medium"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="0.6"/>
                <entry key="right_open" type="xboolean" value="false"/>
                <entry key="right_value" type="xdouble" value="1.3"/>
            </config>
            <config key="high_2">
                <entry key="bin_name" type="xstring" value="high"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="1.3"/>
                <entry key="right_open" type="xboolean" value="true"/>
                <entry key="right_value" type="xdouble" value="Infinity"/>
            </config>
        </config>
        <entry key="TUE_is_appended" type="xstring" value="TUE_binned"/>
        <config key="FAF">
            <config key="sedentary_0">
                <entry key="bin_name" type="xstring" value="sedentary"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="-Infinity"/>
                <entry key="right_open" type="xboolean" value="false"/>
                <entry key="right_value" type="xdouble" value="0.5"/>
            </config>
            <config key="moderate_1">
                <entry key="bin_name" type="xstring" value="moderate"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="0.5"/>
                <entry key="right_open" type="xboolean" value="false"/>
                <entry key="right_value" type="xdouble" value="2.5"/>
            </config>
            <config key="activate_2">
                <entry key="bin_name" type="xstring" value="activate"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="2.5"/>
                <entry key="right_open" type="xboolean" value="true"/>
                <entry key="right_value" type="xdouble" value="Infinity"/>
            </config>
        </config>
        <entry key="FAF_is_appended" type="xstring" value="FAF_binned"/>
        <config key="FCVC">
            <config key="low_0">
                <entry key="bin_name" type="xstring" value="low"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="-Infinity"/>
                <entry key="right_open" type="xboolean" value="false"/>
                <entry key="right_value" type="xdouble" value="1.5"/>
            </config>
            <config key="medium_1">
                <entry key="bin_name" type="xstring" value="medium"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="1.5"/>
                <entry key="right_open" type="xboolean" value="false"/>
                <entry key="right_value" type="xdouble" value="2.5"/>
            </config>
            <config key="high_2">
                <entry key="bin_name" type="xstring" value="high"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="2.5"/>
                <entry key="right_open" type="xboolean" value="true"/>
                <entry key="right_value" type="xdouble" value="Infinity"/>
            </config>
        </config>
        <entry key="FCVC_is_appended" type="xstring" value="FCVC_binned"/>
        <config key="NCP">
            <config key="between 1-2_0">
                <entry key="bin_name" type="xstring" value="between 1-2"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="-Infinity"/>
                <entry key="right_open" type="xboolean" value="true"/>
                <entry key="right_value" type="xdouble" value="2.5"/>
            </config>
            <config key="three_1">
                <entry key="bin_name" type="xstring" value="three"/>
                <entry key="left_open" type="xboolean" value="false"/>
                <entry key="left_value" type="xdouble" value="2.5"/>
                <entry key="right_open" type="xboolean" value="true"/>
                <entry key="right_value" type="xdouble" value="3.5"/>
            </config>
            <config key="more than 3_2">
                <entry key="bin_name" type="xstring" value="more than 3"/>
                <entry key="left_open" type="xboolean" value="false"/>
                <entry key="left_value" type="xdouble" value="3.5"/>
                <entry key="right_open" type="xboolean" value="true"/>
                <entry key="right_value" type="xdouble" value="Infinity"/>
            </config>
        </config>
        <entry key="NCP_is_appended" type="xstring" value="NCP_binned"/>
        <config key="CH2O">
            <config key="low_0">
                <entry key="bin_name" type="xstring" value="low"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="-Infinity"/>
                <entry key="right_open" type="xboolean" value="false"/>
                <entry key="right_value" type="xdouble" value="1.5"/>
            </config>
            <config key="medium_1">
                <entry key="bin_name" type="xstring" value="medium"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="1.5"/>
                <entry key="right_open" type="xboolean" value="false"/>
                <entry key="right_value" type="xdouble" value="2.5"/>
            </config>
            <config key="high_2">
                <entry key="bin_name" type="xstring" value="high"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="2.5"/>
                <entry key="right_open" type="xboolean" value="true"/>
                <entry key="right_value" type="xdouble" value="Infinity"/>
            </config>
        </config>
        <entry key="CH2O_is_appended" type="xstring" value="CH2O_binned"/>
        <config key="Age">
            <config key="young_0">
                <entry key="bin_name" type="xstring" value="young"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="-Infinity"/>
                <entry key="right_open" type="xboolean" value="false"/>
                <entry key="right_value" type="xdouble" value="25.0"/>
            </config>
            <config key="adult_1">
                <entry key="bin_name" type="xstring" value="adult"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="25.0"/>
                <entry key="right_open" type="xboolean" value="false"/>
                <entry key="right_value" type="xdouble" value="45.0"/>
            </config>
            <config key="senior_2">
                <entry key="bin_name" type="xstring" value="senior"/>
                <entry key="left_open" type="xboolean" value="true"/>
                <entry key="left_value" type="xdouble" value="45.0"/>
                <entry key="right_open" type="xboolean" value="true"/>
                <entry key="right_value" type="xdouble" value="Infinity"/>
            </config>
        </config>
        <entry key="Age_is_appended" type="xstring" value="Age_binned"/>
        <config key="binned_columns">
            <entry key="array-size" type="xint" value="6"/>
            <entry key="0" type="xstring" value="TUE"/>
            <entry key="1" type="xstring" value="FAF"/>
            <entry key="2" type="xstring" value="FCVC"/>
            <entry key="3" type="xstring" value="NCP"/>
            <entry key="4" type="xstring" value="CH2O"/>
            <entry key="5" type="xstring" value="Age"/>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.binner.BinnerNodeFactory"/>
    <entry key="node-name" type="xstring" value="Numeric Binner"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.11.0.v202602201626"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.11.0.v202602211509"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Numeric Binner"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 2111, Cols: 21"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="915aca08-0c37-4034-a0f6-ea97c41dd9ef"/>
    </config>
</config>
